<form (ngSubmit)="createOrUpdate()">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" name="_id" [(ngModel)]="user._id" class="form-control">
  </div>
  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" [(ngModel)]="user.name" class="form-control">
    </div> 
    <div class="form-group">
        <label for="email">Email </label>
        <input type="text" name="email" [(ngModel)]="user.email" class="form-control">
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" name="phone" [(ngModel)]="user.phone" class="form-control">
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
</form>
